<!-- HEADER -->
<%- include('./partials/header.ejs') %>
<!-- END HEADER -->

<!-- Page title -->
<div class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          <h1 class="title">Profil</h1>
        </div>
        <div class="breadcrumbs">
          <ul>
            <li><a href="/">Accueil</a></li>
            <li>Compte</li>
            <li>Profil</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="main-content">
  <div class="container mt-3">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0 p-5">
        <div class="row align-items-center">
          <div class="col-sm-8 d-sm-flex align-items-center">
            <div class="text-center text-sm-left">
              <img
                class="mr-sm-3"
                src="/images/placeholder-profil.png"
                style="border-radius: 100%"
                alt=""
              />
            </div>

            <h3 class="mb-0 text-center text-sm-left">Mon compte</h3>
          </div>
          <div class="col-sm-4 text-center text-sm-right mt-2 mt-sm-0">
            <button class="btn btn-sm text-capitalize" style="font-size: 16px">
              Paramètres
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-4">
        <form>
          <h6 class="heading-small text-muted mb-4">
            INFORMATIONS SUR L'UTILISATEUR
          </h6>
          <div class="pl-lg-4">
            <div class="row">
              <!-- FullName -->
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="profile-fullname">
                    Nom complet
                  </label>
                  <input
                    readonly
                    type="text"
                    id="profile-fullname"
                    value="<%= customer.fullName %>"
                    class="form-control form-control-alternative"
                  />
                </div>
              </div>
              <!-- Username -->
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="profile-username">
                    Nom d'utilisateur
                  </label>
                  <input
                    readonly
                    type="text"
                    id="profile-username"
                    value="<%= customer.username %>"
                    class="form-control form-control-alternative"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Email -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="profile-email">
                    Adresse Email
                  </label>
                  <input
                    readonly
                    type="email"
                    id="profile-email"
                    value="<%= customer.email %>"
                    class="form-control form-control-alternative"
                  />
                </div>
              </div>
              <!-- Gender -->
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="profile-gender">
                    Genre
                  </label>
                  <input
                    readonly
                    type="text"
                    id="profile-gender"
                    value="<%= customer.gender %>"
                    class="form-control form-control-alternative"
                  />
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">INFORMATIONS DE CONTACT</h6>
          <div class="pl-lg-4">
            <div class="row">
              <!-- Address -->
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="profile-address">
                    Adresse
                  </label>
                  <input
                    readonly
                    id="profile-address"
                    class="form-control form-control-alternative"
                    type="text"
                    value="<%= customer.moreInfos.adress %>"
                  />
                </div>
              </div>
              <!-- Phone Number -->
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="profile-phoneNumber">
                    Numéro de téléphone
                  </label>
                  <input
                    readonly
                    id="profile-phoneNumber"
                    class="form-control form-control-alternative"
                    type="text"
                    value="<%= customer.phoneNumber%>"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <!-- City -->
              <div class="col-lg-4">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-city">
                    Ville
                  </label>
                  <input
                    readonly
                    type="text"
                    id="input-city"
                    value="<%= customer.moreInfos.city %>"
                    class="form-control form-control-alternative"
                  />
                </div>
              </div>
              <!-- Country -->
              <div class="col-lg-4">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-country">
                    Pays
                  </label>
                  <input
                    readonly
                    type="text"
                    id="input-country"
                    value="<%= customer.moreInfos.country %>"
                    class="form-control form-control-alternative"
                  />
                </div>
              </div>
              <!-- Postal Code -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">
                    Code postal
                  </label>
                  <input
                    readonly
                    type="number"
                    id="input-postal-code"
                    value="<%= customer.moreInfos.postalCode %>"
                    class="form-control form-control-alternative"
                  />
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Description -->
          <h6 class="heading-small text-muted mb-4">A propos de moi</h6>
          <div class="pl-lg-4">
            <div class="form-group focused">
              <label>À propos de moi</label>
              <textarea
                readonly
                rows="4"
                value="<%= customer.moreInfos.aboutMe %>"
                class="form-control form-control-alternative"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
